.container {
 width: 100%;
 margin: auto;
}

.buttons-wrapper {
  position: relative;
  bottom: 38px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  color: transparent;
  font-size: 38px;
}

.arrow:hover {
  color:  #ffffff;
}

.bullets {
  margin: auto;
  height: 26px;
}

.mySlides {
  position: relative;
}

.bullet {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
  cursor: pointer;
  border: 1px solid grey;
  background-color: #ffffff;
}

.bullet:hover {
  background-color: lightblue;
}

.blue {
  background-color: lightblue;
}

.image-text {
  background-color: #ffffff;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 6px;
  animation: myfirst 1s 1 ease-out;
}

.outer-descriptions {
  background-color: lightslategray;
  height: 30px;
}

.static-text {
  position: relative;
  bottom: 300px;
  left: 12px;
  background-color: azure;
  display: inline-block;
  padding: 4px;
}

@media screen and (max-width: 768px) {
  .arrow {
    color: #ffffff;
  }
  .image-text, .static-text{
    display: none;
  }
  .container {
    max-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .outer-descriptions {
    display: none;
  }
}

@keyframes myfirst {
  0%   {top: -30px;}
  100% { top: 12px;}
}
